h1 {
 text-align: center;
 color: White;
 font-size: 500%;
}

h2 {
  text-align: center;
  color: White;
  font-size: 100%;
}

h3 {
 text-align: center;
 color: White;
 font-size: 100%;
}

h4 {
 text-align: center;
 color: White;
 font-size: 100%;
}

p {
 text-align: center; 
 color: White;
}

a {
  text-align: center;
  color: Chartreuse;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
    background-image: url("https://www.designyourway.net/diverse/darkpat/wallpaper_800x600_1536.jpg");
    animation: fadein 5s;
    -moz-animation: fadein 5s; 
    -webkit-animation: fadein 5s; 
    -o-animation: fadein 5s; 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
